In [2]:
#assignment

l=[9,80,7,65]
l1=l
print(l1)
print(l)
l1.append(109)
print(l1)
print(l)

[9, 80, 7, 65]
[9, 80, 7, 65]
[9, 80, 7, 65, 109]
[9, 80, 7, 65, 109]

In [4]:
#copy

l=[90,8,7,65]
l1=l.copy()
print(l1)
print(l)
l1.append(76)
print(l1)
print(l)

[90, 8, 7, 65]
[90, 8, 7, 65]
[90, 8, 7, 65, 76]
[90, 8, 7, 65]

In [5]:
l

[90, 8, 7, 65]

In [6]:
l.clear()

In [7]:
l

[]

In [9]:
del l1

In [10]:
l1

NameError: name 'l1' is not defined

In [11]:
# example

l=[1,2,3,4,5]
for i in l:
    print(i*2)

2
4
6
8
10

In [13]:
#duplicastes remove

l=[90,8,6,7,54,3,6,8,8]
li=[]  
for i in l:
    if i not in li:
        li.append(i)
print(li)

[90, 8, 6, 7, 54, 3]

In [15]:
#unique elements

l=[12,12,13,13,12,14,15]
li=[]
for i in l:
    if l.count(i)==1:
        li.append(i)
print(li)

[14, 15]

In [16]:
li

[14, 15]

In [19]:
l=['p','y','t','n']
l.sort()

In [20]:
l

['n', 'p', 't', 'y']

In [21]:
l.reverse()
print(l)

['y', 't', 'p', 'n']

In [25]:
# converting string into list items

s="1 2 3 4 5"
s=s.split()
l=[]
for i in s:
    l.append(int(i))
l

[1, 2, 3, 4, 5]

### Tuple and methods

* Tuple is a collection of objects
* tuple uses parenthesis
* tuples are immutable ,i.e not changeable

In [27]:
# creating a tuple

t=()
print(type(t))

<class 'tuple'>

In [28]:
t1=tuple()
print(type(t1))

<class 'tuple'>

In [29]:
a=(12,34,56)  #interger tuple
a

(12, 34, 56)

In [30]:
b=(1,45.6,"hello")  #tuple of different types
b

(1, 45.6, 'hello')

In [31]:
t=('hhh')
print(type(t))

<class 'str'>

In [32]:
t=('hhh',)
print(type(t))

<class 'tuple'>

In [34]:
#accessing tuple elements

t=('p','y','t','h','o','n')
print(t[0])  #using index
print(t[5])

p
n

In [35]:
# nested tuple --> are accessed with nested indexing

t=('mouse',[1,3,5],(90,87,6))
t

('mouse', [1, 3, 5], (90, 87, 6))

In [36]:
t[0]

'mouse'

In [37]:
t[1]

[1, 3, 5]

In [39]:
t[2]

(90, 87, 6)

In [40]:
t[2][1]   #nested index

87

In [41]:
t[1][2]

5

In [42]:
#negative indexing

t[-1]

(90, 87, 6)

In [43]:
t[-2]

[1, 3, 5]

In [44]:
t[-1][0]

90

In [45]:
#slicing --> we can access range of elements by using slicing operator colon:
t=(10,20,30,40,50,60)  #start,stop,step

In [46]:
t[:3]   #10,20,30

(10, 20, 30)

In [47]:
t[2:5]    #30,40,50

(30, 40, 50)

In [48]:
t[:]

(10, 20, 30, 40, 50, 60)

In [49]:
t[-1:]

(60,)

In [50]:
t

(10, 20, 30, 40, 50, 60)

In [51]:
#20,40

t[1:4:2]  #start,stop,step

(20, 40)

In [52]:
#print elements in reverse order

t[::-1]

(60, 50, 40, 30, 20, 10)

In [54]:
#print alternative elements

print(t)
t[1::2]     #odd index elements

(10, 20, 30, 40, 50, 60)

(20, 40, 60)

In [55]:
t[::2]  #even index elements

(10, 30, 50)

In [56]:
t

(10, 20, 30, 40, 50, 60)

In [57]:
# sum of elements

sum(t)

210

In [58]:
#minimum element

min(t)

10

In [59]:
#maximum element

max(t)

60

In [60]:
t

(10, 20, 30, 40, 50, 60)

In [61]:
t[0]=90

TypeError: 'tuple' object does not support item assignment

In [62]:
l=[90,8,6]
l[0]=100
l

[100, 8, 6]

In [63]:
# changing tuple element is not possible, but the element is a list,its nested values we can change
t=(1,2,3,[10,20,30])
len(t)

4

In [64]:
t[0]=100

TypeError: 'tuple' object does not support item assignment

In [65]:
t[3][0]

10

In [66]:
t[3][0]=101

In [67]:
t

(1, 2, 3, [101, 20, 30])

In [68]:
# concatenation operator '+'

t1=(89,78,65)
t2=(1,2,3)
t1+t2    #combines 2 tuples

(89, 78, 65, 1, 2, 3)

In [69]:
# repetition operator '*'

t1=(90,23,12)
t1*4

(90, 23, 12, 90, 23, 12, 90, 23, 12, 90, 23, 12)

In [70]:
t1

(90, 23, 12)

In [71]:
# deleting a tuple

t1

(90, 23, 12)

In [72]:
del t1

In [73]:
t1

NameError: name 't1' is not defined

In [74]:
#tuple method

t=(10,20,90,76,56,45,43,10,20,30,10)
t.index(90)   #to get index  of tuple element

2

In [75]:
t.count(10)  #no of occurances of elements in a given tuple

3

In [76]:
# membership operator --> in

print(10 in t)

True

In [77]:
print(1000 in t)

False

In [78]:
# iterating through a tuple

for i in t:
    print(i,end=" ")

10 20 90 76 56 45 43 10 20 30 10

### Dictionaries`

* Dictionary is a set of key,value pair or collection of items
* in dictionary keys acts as a index to access values

In [79]:
#creating empty dictionary

d=dict()
type(d)

dict

In [80]:
d1={}
type(d1)

dict

In [81]:
#dictionary with integer keys

d={1:"sai",2:"keerthi",3:"rama"}    #key:value
print(d)

{1: 'sai', 2: 'keerthi', 3: 'rama'}

In [82]:
d.keys()  #to get only keys

dict_keys([1, 2, 3])

In [83]:
d.values()  #to get only values

dict_values(['sai', 'keerthi', 'rama'])

In [84]:
d.items()  #to get items

dict_items([(1, 'sai'), (2, 'keerthi'), (3, 'rama')])

In [85]:
#dictionary with mixed keys

d1={'name':'bhanu','age':20,1:[9,8,7]}
print(d1)

{'name': 'bhanu', 'age': 20, 1: [9, 8, 7]}

In [86]:
#accessing dictionary values by using keys as index

d1['name']

'bhanu'

In [87]:
d1['age']

20

In [88]:
d1[1]

[9, 8, 7]

In [89]:
d[20]

KeyError: 20

In [90]:
d1[1][2]

7

In [96]:
# create a dictionary with subjects as keys and marks as values
#print sum of all marks
#print average of all marks

d={'maths':90,'science':87,'c':78}
s=sum(d.values())
l=len(d.values())
avg=s/l
print("sum is: ",s)
print("average is: ",avg)

sum is:  255
average is:  85.0

In [97]:
sum(d.values())/len(d.values())

85.0

In [104]:
#changing the values of dictionary

d={0:'python',1:'java'}
d

{0: 'python', 1: 'java'}

In [105]:
d[0]='data science'

In [106]:
d

{0: 'data science', 1: 'java'}

In [107]:
#adding values to dictionary

d[2]='c'
d

{0: 'data science', 1: 'java', 2: 'c'}

In [109]:
#length of dictionary
len(d)

3

In [111]:
#Removing elements from the dictionary

#pop(key)

d.pop(0)

'data science'

In [112]:
d

{1: 'java', 2: 'c'}

In [114]:
d.popitem()  #removes item in key,value pair

(2, 'c')

In [115]:
d

{1: 'java'}

In [116]:
#del , to remove a particular item or dictionary itself

a={1:10,2:20,3:30,4:40,5:50}
a

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}

In [118]:
del a[3]

In [119]:
a

{1: 10, 2: 20, 4: 40, 5: 50}

In [120]:
del a   #removing entire dictionary

In [121]:
a

NameError: name 'a' is not defined

In [122]:
# clear, to clear dictionary

b={2:20,3:30}
print(b)

{2: 20, 3: 30}

In [123]:
b.clear()

In [124]:
b

{}

In [125]:
b[5]=45

In [126]:
b

{5: 45}

In [127]:
#copying values from one dictionary to another dictionary

d1={1:20,2:20,3:30}
d2={4:90,5:89,6:87}

d1=d2.copy()  #copying d2 into d1
d1

{4: 90, 5: 89, 6: 87}

In [128]:
d2

{4: 90, 5: 89, 6: 87}

In [129]:
# updating by using keys

d2[4]=100
d2

{4: 100, 5: 89, 6: 87}

In [130]:
#update()

d2.update({5:'sairam'})
d2

{4: 100, 5: 'sairam', 6: 87}

In [131]:
d2[6]

87

In [132]:
# get() --> to get the value of the given key

d2.get(4)

100

In [133]:
d2.get(6)

87

In [134]:
d2[1]=203
d2

{4: 100, 5: 'sairam', 6: 87, 1: 203}

In [135]:
sorted(d2)   # sorted depends on keys

[1, 4, 5, 6]

In [136]:
d2

{4: 100, 5: 'sairam', 6: 87, 1: 203}

In [137]:
sorted(d2,reverse=True)

[6, 5, 4, 1]

In [140]:
# membership operator 'in'

d2
print(4 in d2)  #testing keys present or not
d2

True

{4: 100, 5: 'sairam', 6: 87, 1: 203}

In [141]:
print('sairam' in d2)

False

In [142]:
#Iterating through a dictionary

d2.keys()

dict_keys([4, 5, 6, 1])

In [143]:
for k in d2.keys():
    print(k,end=" ")

4 5 6 1

In [145]:
for v in d2.values():
    print(v,end=" ")  #values

100 sairam 87 203

In [146]:
for i in d2.items():
    print(i,end=" ")  #items

(4, 100) (5, 'sairam') (6, 87) (1, 203)

In [147]:
#fromkeys

x=(1,2,3)
y=(100)
dd=dict.fromkeys(x,y)
dd

{1: 100, 2: 100, 3: 100}

In [148]:
#setdefault()  --> returns value if key is present,
#otherwise returns none or default value

d1={1:'k',2:'h',3:'1'}
p=d1.setdefault(1)  #if key is in dictionary
print("default",p)
print(d1)

default k
{1: 'k', 2: 'h', 3: '1'}

In [149]:
p1=d1.setdefault(4)  #if key is not present
print(p1)
print(d1)

None
{1: 'k', 2: 'h', 3: '1', 4: None}

In [151]:
p2=d1.setdefault(5,'yy')
print(p2)
print(d1)

yy
{1: 'k', 2: 'h', 3: '1', 4: None, 5: 'yy'}

In [152]:
# print student name who have maximum marks

d={"stu1":60,"stu2":90,"stu3":80}
m=max(d.values())

for k,v in d.items():
    if v==m:
        print(k)

stu2