## Day Objectives:




**sindhuja** or __sindhuja__

*apssdc* or _apssdc_

***bold&italic***  or ___bold&italic___

* Markdown Basics
    * Lists
        * Ordered Lists
        * Un-Ordered lists
    * Image insertion
    * links
    * tables
* Python Basics

#### Image Insertion

![Python-Logo](python_logo.jpg)

#### links

[Click Here](www.google.com)

## Python Basics

- print() ==> this method used to display prompt in python.
- variables
- keywords
- input/ouput
- operators
- type conversions

In [1]:
print('geethanjali college')
print(100)
print(120.5)
print('100')

geethanjali college
100
120.5
100

In [2]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## Variables:
 - It is a named location in memory where we can store values like str,int,floate etc..
 - Variable Naming Rules:
     - Variable name shoud start with characters or underscore and not with numbers or special characters (*,#,@ ...)
     - We can't use Keywords as variable names.
     - it doesn't contain special characters.
     - examples: correct ===> a, _a, a1, a_1 
     -           wrong  ===> @a , 2a, 12, &

In [3]:
_a1 = 10
_a = 13
a = 11
print(_a1,_a,a)

10 13 11

In [4]:
2a = 6
print(2a)

SyntaxError: invalid syntax (<ipython-input-4-f73edb23e0aa>, line 1)

In [5]:
# single variable assignment
s = "geethanjali"
f = 98.7
i = 65

print(s,f,i)

geethanjali 98.7 65

In [ ]:
# multi variable assignment
a,b,c = 4,5,6
print(a,b,c)

x,y,z,u = 'arun',9.8,34,32
print(z)

## Data types:

- Numbers
    - integer ==> 100,2,30
    - float ==> 54.6,90.4 etc..
    - complex ==> 1+3j , 6i ...
- Characters
    - Strings
    
    
- type() ==> this method tells us what is the data type of a given variable.

In [11]:
name = "chandu"
age = 21
height = 5.4

type(height)
type(age)
type(name)

str

## Type Conversion

- int ==> float,str
- float ==> int,str
- str ==> we can't
    - num_str ==> int,float
    
- For converting any type into integer
    - int(variable_name) or int(value)
- For any data type to float
    - float(var_name) or float(value)
- For any data type to string
     - str(var_name) or str(value)

In [18]:
name = "chandu"
age = 21
height = 5.4

# age ==> float , str
float(age)
str(age)

# height ==> int,str
int(height)
str(height)

# str ==> int,float ==> not possible.
int(name)
float(name)

ValueError: invalid literal for int() with base 10: 'chandu'

In [23]:
num_str = '13048238'
print(type(num_str))
int(num_str)
float(num_str)

<class 'str'>

13048238.0

In [29]:
## taking input from the user.
age = int(input("Enter ur Age: "))
print(age)
type(age)

Enter ur Age: 50
50

int